@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --headerBlue: #184979;
  --paragraphColor: #6c6c78;
  --darkLetter: #2c2c37;
  --InputTxtColor: #b4b7d4;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

::placeholder {
  color: var(--InputTxtColor);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--InputTxtColor);
}

::-ms-input-placeholder {
  color: var(--InputTxtColor);
}

p {
  font-family: "Segoe UI";
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--paragraphColor);
  line-height: 25px;
  text-align: left;
  padding: 1rem;
  margin-top: -1rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  color: var(--darkLetter);
  line-height: 25px;
  text-align: left;
  padding: 1rem;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: var(--darkLetter);
  margin-left: 1rem;
  bottom: 1rem;
}

.wrapper {
  width: 100%;
  height: auto;
  margin: 0rem auto;
}

/* Header */

.header {
  background-color: var(--headerBlue);
  width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;
}

.header > h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  line-height: 90px;
  font-size: 3rem;
  padding-left: 8.5rem;
  font-weight: 400;
}

/* Main Div */

.main__div {
  width: 76%;
  height: 40rem;
  margin: 7.187rem auto;
}

.search__div {
  width: 100%;
  height: 4.375rem;
  background-color: #f7f7f8;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search__div > input,
select {
  width: 30rem;
  background-color: #efeff2;
  color: var(--InputTxtColor);
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 0.75rem;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

.search__div > input:focus,
.search__div > select:focus {
  outline: none !important;
}

.posts__div {
  width: 100%;
  height: auto;
  display: grid;
  margin: 1rem auto;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  transition: 2s all;
}

.post {
  width: 100%;
  height: 17.25rem;
  box-shadow: 0px 2.18px 43px 3.35px #566a8a14;
  position: relative;
}

.post:first-of-type {
  grid-column-start: 1;
  grid-column-end: 3;
}

.post:first-of-type > h2 {
  font-size: 1.875rem;
}

.post > button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: var(--darkLetter);
  position: absolute;
  bottom: 1rem;
  background-color: white;
  border: none;
  cursor: pointer;
}

.post button > img {
  width: 0.7rem;
  height: 0.6rem;
  margin-left: 0.3rem;
}

.no__matches {
  width: 80%;
  height: 5rem;
  display: grid;
  place-items: center;
  color: var(--darkLetter);
  margin: 0rem auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  grid-column-start: 1;
  grid-column-end: 5;
}

.shake__input {
  box-shadow: -1px 1px 12px -1px red;
  animation-name: shake_input;
  animation-duration: .1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 2;
}

/* Posts Page */

.post__divSP {
  width: 75%;
  height: auto;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.post__divSP > h1 {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  color: #2C2C37;
  padding: 2rem;
  width: 45rem;
}

.post__divSP > hr {
  border: none;
  border-bottom: 2px solid #F7F7F8;
  background-color: white;
  margin: 2rem auto;
  display: block;
  text-align: center;
  width: 100%;
}

.post__divSP > p {
  width: 45rem;
  padding: 2rem;
  color: #6C6C78;
  font-size: 1rem;
}

.post__divSP > hr:last-of-type {
  margin-top: 2.5rem;
}

.btns__divSP {
  width: 45rem;
  display: flex;
  justify-content: space-between;
}

.sp__btns {
  background-color: white;
  border: none;
  opacity: .7;
  font-size: 1rem;
}

.sp__btns:last-of-type {
  margin-right: 1rem;
}

.sp__btns:hover {
  cursor: pointer;
}

.sp__btns > img {
  width: 0.7rem;
  height: 0.6rem;
  margin-left: 0.3rem;
}

.btns__divSP .sp__btns:first-of-type > img {
  transform: rotate(180deg);
  margin-bottom: -.05rem;
  margin-right: .2rem;
}

.sp__btnsActive {
  opacity: 1;
}

.author__divSP {
  width: 43rem;
  height: 7.1785rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #F7F7F8;
  margin-top: 4rem;
  padding: 0rem 3rem;
}

.author__nameSP {
  margin-left: 1rem;
}

.author__divSP p {
  padding: 0rem;
  color: #6C6C78;
  font-size: 1rem;
  margin-top: .2rem;
}

.author__divSP h4 {
  padding: 0rem;
  margin-top: .3rem;
  font-size: 1.25rem;
  color: #2C2C37;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.comments__divSP {
  width: 43rem;
  margin-top: 7rem;
  align-items: left; 
}

.comments__divSP > h2 {
  color: #2C2C37;
  font-size: 1.875rem;
  padding: 0rem;
}

.comments {
  width: 43rem;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #F7F7F8;
  margin: 2rem auto;
  padding: 0rem 3rem;
}

.comments > h3 {
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}


.comments > p {
  padding: 0rem;
  font-size: 1rem;
  margin: 1rem;
  margin-left: 0rem;
}
  
/* Key Frames */

@keyframes shake_input {
  0% {
    transform: translateX(0rem);
  }

  25% {
    transform: translateX(.1rem);
  }

  50% {
    transform: translateX(-.1rem);
  }

  75% {
    transform: translate(.1rem);
  }

  100% {
    transform: translateX(0rem);
  }
}
